<template>
    <div>
        <div class="box import-options">
            <button type="button" class="btn" @click="runImport">{{ running ? 'Running' : 'Sync now' }}</button>
        </div>

        <ul class="record-counts">
            <li>
                <p class="label">Categories</p>
                <p class="totals" v-if="totals.categories > 0">{{ captured.categories }} / {{ totals.categories }} records</p>
                <p class="totals" v-else></p>
                <div class="progress-bar">
                    <div class="bar" :style="{ width: `${(captured.categories / totals.categories) * 100}%` }"></div>
                </div>
            </li>
            <li>
                <p class="label">Clients</p>
                <p class="totals" v-if="totals.clients > 0">{{ captured.clients }} / {{ totals.clients }} records</p>
                <p class="totals" v-else></p>
                <div class="progress-bar">
                    <div class="bar" :style="{ width: `${(captured.clients / totals.clients) * 100}%` }"></div>
                </div>
            </li>
            <li>
                <p class="label">Expenses</p>
                <p class="totals" v-if="totals.expenses > 0">{{ captured.expenses }} / {{ totals.expenses }} records</p>
                <p class="totals" v-else></p>
                <div class="progress-bar">
                    <div class="bar" :style="{ width: `${(captured.expenses / totals.expenses) * 100}%` }"></div>
                </div>
            </li>
            <li>
                <p class="label">Invoices</p>
                <p class="totals" v-if="totals.invoices > 0">{{ captured.invoices }} / {{ totals.invoices }} records</p>
                <p class="totals" v-else></p>
                <div class="progress-bar">
                    <div class="bar" :style="{ width: `${(captured.invoices / totals.invoices) * 100}%` }"></div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: ['since'],

    data() {
        return {
            pendingRequests: [],
            totals: {
                categories: 0,
                clients: 0,
                expenses: 0,
                invoices: 0,
            },
            captured: {
                categories: 0,
                clients: 0,
                expenses: 0,
                invoices: 0,
            },
            running: false,
        };
    },

    methods: {
        runImport() {
            if (this.running) {
                return;
            }

            this.running = true;
            this.nextRequest();
        },
        nextRequest() {
            const request = this.pendingRequests.shift();

            axios.get(request, {
                responseType: 'json',
            }).then((response) => {
                if (response.status !== 200) {
                    this.pendingRequests.push(response.config.url);
                    return;
                }

                const grouping = this.grouping(response.config.url);

                this.totals[grouping] = response.data.total;
                this.captured[grouping] = response.data.page * response.data.per_page;

                if (this.captured[grouping] > this.totals[grouping]) {
                    this.captured[grouping] = this.totals[grouping];
                }

                if (response.data.page == 1 && response.data.pages > 1 && response.config.url.indexOf('page') < 0) {
                    const start = response.config.url.indexOf('invoices') > 0 ? 1 : 2;

                    for (let i = start; i <= response.data.pages; i += 1) {
                        if (response.config.url.indexOf('?') > 0) {
                            this.pendingRequests.push(`${response.config.url}&page=${i}`);
                        } else {
                            this.pendingRequests.push(`${response.config.url}?page=${i}`);
                        }
                    }
                }

                if (this.pendingRequests.length > 0) {
                    this.nextRequest();
                } else {
                    this.running = false;
                }
            });
        },
        grouping(url) {
            const segments = url.split('/');
            const last = segments[segments.length - 1];

            if (last.indexOf('?') > 0) {
                return last.substr(0, last.indexOf('?'));
            }

            return last;
        },
    },

    created() {
        this.pendingRequests = [
            '/dashboard/freshbooks/import/categories',
        ];

        if (this.since) {
            this.pendingRequests.push(`/dashboard/freshbooks/import/clients?since=${this.since}`);
            this.pendingRequests.push(`/dashboard/freshbooks/import/expenses?since=${this.since}`);
            this.pendingRequests.push(`/dashboard/freshbooks/import/invoices?since=${this.since}`);
        } else {
            this.pendingRequests.push('/dashboard/freshbooks/import/clients');
            this.pendingRequests.push('/dashboard/freshbooks/import/expenses');
            this.pendingRequests.push('/dashboard/freshbooks/import/invoices');
        }
    },
};
</script>

