.sales-filters {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;

    li {
        margin-left: 1rem;

        &.active {
            a {
                background: #354052;
                color: white;
            }
        }

        a {
            display: inline-block;
            background: white;
            padding: 0.325rem 1rem;
            border-radius: 99rem;
            border: 0.125rem solid #354052;
            font-size: 0.9rem;

            &:hover {
                background: #6f7d95;
                color: white;
            }
        }
    }
}

.import-options {
    text-align: center;
}

.record-counts {
    list-style: none;
    margin: 1.5rem 0 0 0;
    padding: 0;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        padding: 0 1.5rem;
        margin-top: 0.25rem;
        border-radius: 0.25rem;
        position: relative;
        overflow: hidden;
    }

    .progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .bar {
            height: 0.125rem;
            background: green;
            width: 0;
        }
    }
}

.filter-box {
    background: white;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    justify-content: space-between;

    button {
        font-weight: 400;
        padding: 0.75rem 1.25rem;
    }

    input {
        height: auto;
    }

    form.spending {
        align-items: center;

        select {
            margin-right: 0.5rem;
            padding: 0.563rem 1rem;
        }

        input {
            margin-right: 0.5rem;
        }
    }

    form.date-range {
        align-items: center;

        input {
            width: 8rem;
        }

        .far {
            margin: 0 0.75rem;
        }

        button {
            margin-left: 0.75rem;
        }
    }
}
